# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific data files
*.duckdb
*.parquet
*.pth
*.csv

# Logs
logs/
*.log
